<mat-card class="page-card">
  <mat-card-header>
    <mat-card-title>{{ 'Page administrateur pour' | translate }} <button mat-button (click)="addAttraction()">{{ 'Ajouter' | translate }}</button>{{ ', modifier et supprimer des attractions' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="attraction-title">
      <div class="attraction">
        <span>{{ 'Nom de l\'attraction' | translate }}</span>
        <span>{{ 'Description de l\'attraction' | translate }}</span>
        <span>{{ 'Difficulté de l\'attraction / 5' | translate }}</span>
        <span>{{ 'Visible' | translate }}</span>
      </div>
    </div>
    <ng-container *ngIf="attractions | async">
      <ng-container *ngFor="let formulaireAttraction of formulaireAttractions; let indexForm = index;"
        [formGroup]="formulaireAttraction"
        style="display: flex; flex-direction: column;"
      >
        <div class="attraction">
          <mat-form-field class="champ" appearance="fill">
            <mat-label>{{ 'Nom' | translate }}</mat-label>
            <input matInput formControlName="nom">
          </mat-form-field>
      
          <mat-form-field class="champ" appearance="fill">
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
  
          <mat-form-field class="champ" appearance="fill">
            <mat-label>{{ 'Difficulté / 5' | translate }}</mat-label>
            <input matInput formControlName="difficulte" type="number">
          </mat-form-field>

          <mat-slide-toggle class="champ" formControlName="visible">{{ 'Element visible' | translate }}</mat-slide-toggle>

          <button mat-button (click)="onSubmit(formulaireAttraction)" class="champ">{{ 'Enregistrer' | translate }}</button>
        </div>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

